* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #fff;
}

#navbar .start img {
    width: 140px;
    padding-left: 10px;
}

#navbar .start {
    display: flex;
    align-items: center;
    padding: 8px 20px;
}

#navbar .start i {
    font-size: 25px;
}

#navbar .center {
    display: flex;
    align-items: center;
    position: relative;
}

#navbar .center input {
    padding: 14px 0px;
    width: 48em;
    border-radius: 25px;
    padding-right: 20em;
    border: none;
    border: 1px solid gray;
}

#navbar .search {
    position: absolute;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid rgba(170, 166, 166, 0.806);
    width: 10%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #d3d3d3;
}

#navbar .search i {
    font-size: 25px;
}

#navbar input::placeholder {
    padding: 0 20px;
    font-size: 17px;
    font-weight: 500;
    color: gray;
}

#navbar input:hover {
    box-shadow: inset 2px 1px 4px lightgray;
}

#navbar .end {
    display: flex;
    align-items: center;
    margin-right: 22px;
}

#navbar .end i {
    font-size: 20px;
    padding: 0 20px;
}

#navbar .end .btn {
    padding: 10px 12px;
    color: blue;
    font-size: 17px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
}

#navbar .end .btn i {
    padding-left: 3px;
}

.micro {
    background: #c1b8b8c2;
    font-size: 24px;
    padding: 13px;
    border-radius: 50%;
    margin-right: 4em;
}

#sidebar img {
    width: 25px;
    padding: 20px 0;
}

#sidebar {
    position: fixed;
    width: 7vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 25px;
}

#sidebar i {
    padding: 20px 0;
}

#tag-navbar {
    display: flex;
    align-items: center;
    width: 90%;
    height: 6%;
    position: absolute;
    right: 1px;
    position: fixed;
    z-index: 1;
}

#tag-navbar button {
    padding: 10px 15px;
    border-radius: 8px;
    margin-left: 20px;
    font-weight: 600;
    border: none;
    /* font-size: 13px; */
}

#tag-navbar #f-btn {
    background-color: black;
    color: white;
    margin-left: -30px;
}



#hero-section {
    width: 92vw;
    height: 100vh;
    position: absolute;
    right: 0px;
    margin-top: 55px;
}

#hero-section .videos video {
    width: 33%;
    height: 20%;
    border-radius: 13px;
}

#hero-section .details img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#hero-section .details {
    display: flex;
    flex-direction: column;
}